/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

h3 {
  margin: 0;
}

p {
  margin: 5px 0 0;
}
