/* src/App.css */
.App {
  text-align: center;
  background-color: #121212; /* Dark background color */
  color: white; /* White text color */
}

.App-header {
  background-color: #d32f2f; /* Red color */
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.MuiCard-root {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}
